
<div class="container mt-4">
    <a routerLink="/gardens" class="btn btn-primary mb-4">Regresar</a>
    <h2>Crear Huerto</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Nombre del huerto -->
      <div class="mb-3">
        <label for="name" class="form-label">Nombre del Huerto</label>
        <input
          type="text"
          id="name"
          class="form-control"
          [(ngModel)]="name"
          name="name"
          placeholder="Ingresa el nombre del huerto"
          required
        />
      </div>
  
      <!-- Descripción del huerto -->
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea
          id="description"
          class="form-control"
          [(ngModel)]="description"
          name="description"
          rows="3"
          placeholder="Ingresa una descripción del huerto"
          required
        ></textarea>
      </div>
  
      <!-- Mapa -->
      <div class="mb-3">
        <label class="form-label">Ubicación en el Mapa</label>
        <div id="map" style="height: 400px; border: 1px solid #ccc;"></div>
      </div>
  
      <!-- Botón de guardar -->
      <div class="text-end">
        <button type="submit" class="btn btn-primary" [disabled]="!name || !description || !selectedLatitude || !selectedLongitude">
          Guardar Huerto
        </button>
      </div>
    </form>
  </div>
  