<div class="container mt-5">
    <h2 class="mb-4">Lista de Huertos</h2>
    <div class="row">
      <!-- Iterar sobre la lista de huertos -->
      <div class="col-md-4 mb-4" *ngFor ="let garden of gardens">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ garden.name }}</h5>
            <p class="card-text">{{ garden.description }}</p>
            <a [routerLink]="['garden-detail', garden.idGarden]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  